# XXX - is there need for option to disable pm/hp?  disabling hp might
# make sense if wanting to use e.g. dnsmasq for dns..

config pm
       # Use hybrid proxy DNS parameters in stuff given to clients via odhcpd
       list args '-h'

       # Filename to debug to
       #option debug filename
        
       # Always provide ULA
       #option ula_mode always
        
       # Never provide ULA
       #option ula_mode never

       # By default, ULA is provided if no GUA present
        

config hp
       # Use OSPF to configure (otherwise can enter static
       # configuration here if desired)
       list args --ospf
       #option debug filename
